.wrapper {
    background-color: #f9f9f9;
}

.menu {
    display: flex;
    justify-content: space-between;

    max-width: 1260px;
    margin: 0 auto;
    padding: 0 45px;

    .point {
        padding: 16px 0;
        border-bottom: 1px solid transparent;
        cursor: pointer;

        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 16px;

        svg {
            color: #6a983c;
            font-size: 12px;
            margin-left: 8px;
            position: relative;
            top: -1px;
        }
    }

    .point:hover {
        border-bottom: 1px solid #6a983c;
    }
}