.appliedFilters p {
    font-weight: 400;
    margin-right: 30px;
}

.filter {
    padding: 0 8px;
    background-color: #f4f8ec;
    color: #6a983c;
    margin-left: 15px;
    border-radius: 8px;
    font-weight: 500;
    font-family: 'Poppins';
}

.filter button {
    color: #6a983c;
}