.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3000;
}

.modal.active {
    display: flex;
    justify-content: center;
    padding-top: 100px;

}

.content {
    padding: 26px;
    background-color: white;
    border-radius: 12px;
    height: fit-content;
}