.detail {
    margin: 0 45px;
}

.picture {
    width: 1169px;
    height: 383px;
    background-color: #9f9f9f;
    margin: 48px 0;
    border-radius: 12px;
}

.col {
    width: 169px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.detail article {
    width: 569px;
}

.detail article p {
    font-size: 17px;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 55px;
}