.wrapper {
    display: flex;
    gap: 32px;
    position: relative;
    left: -203px;
    padding-bottom: 24px;
}

.arrowLeft,
.arrowRight {
    height: 48px;
    width: 32px;
    display: block;

    background-color: black;
    opacity: 87%;

    z-index: 10;
    position: absolute;
}

.arrowRight {
    border-radius: 6px;
    right: -315px;
}

.arrowLeft {
    border-radius: 6px;
}

.slide {
    width: 370px;
    border: 1px solid #f1f1f1;
    border-radius: 12px;
    flex-shrink: 0;
    text-align: center;

    padding: 22px;
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Poppins';
}

.active {
    transition: transform 2s;
}