.sliderHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sliderHeader button {
    padding: 15px 0;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    border-bottom: 1px solid #f5f5f5;
    justify-content: center;
}

.sliderHeader button:active {
    border-bottom: 1px solid #6a983c;
}